*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    height: 100px;
    background-color: #002953;
}

.Streak4-main{
    background-color: #FFF2EA;
    text-align: center;
}

.Streak4how-to-play{
    width: 100%;
    color: #FF8900;
}

.Streak4challenge-1,.Streak4challenge-section{
    width: 100%;
    margin: 0 auto;
    /* gap: 10px; */
}


.Streak4icons{
    gap: 8px;
    width: 100%;
    /* border: 1px solid; */
}

.Streak3-check-now{
    font-weight: bolder;
    color: #FFF;
    /* border: 1px solid blue; */
    text-align: center;
    border-radius: 30px;
    background-color: #66666687;
    width: 150px;
    align-self: center;
}

.Streak4sand-watch{
    font-size: 20px;
    gap: 10px;
}

.Streak4challenge-1-text{
    font-size: 30px;
}

.Streak4challenge-2{
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
    font-weight: 700;
    /* border: 1px solid; */
}

.Streak4progress{
    width: 100%;
    border: 1px solid #FF8900;
}

.Streak4visit{
    width: 500px;
    border: 1px solid #00846F;
    border-radius: 4px;
}

.Streak4visit1{
    width: 500px;
    border: 1px solid gainsboro;
}

.Streak4Days10{
    height: 60px;
}

.Streak4completed{
    /* border: 1px solid ; */
    background-color: #00846F;
    color: #FFF2EA;
    border-radius: 4px;
    font-size: 10px;
}

.Streak410{
    font-size: 28px;
    color: #FF8900;
}