*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.NewUser-hero{
    font-family: Rubik;

}

.NewUser-main{
    background-color: #FFF2EA;
    text-align: center;
}

.NewUserhow-to-play{
    width: 100%;
    color: #FF8900;
}

.NewUserchallenge-1,.NewUserchallenge-section{
    width: 100%;
    margin: 0 auto;
    /* gap: 10px; */
}

.NewUsericons{
    /* gap: 1%; */
    width: 100%;
    /* border: 1px solid; */
}

.NewUsercheck-now{
    font-weight: 500;
    color: #FF8900;
    /* border: 1px solid blue; */
    text-align: center;
    border-radius: 30px;
    background-color: #FFF2EA;
    width: 80%;
    align-self: center;
}

.NewUserplay-now{
    font-weight: 500;
    color: #FFF;
    /* border: 1px solid blue; */
    text-align: center;
    border-radius: 30px;
    background-color: #66666687;
    width: 80%;
    align-self: center;
}

.NewUserplay-now a{
    text-decoration: none;
    color: #FFF;
    /* background: rgba(102, 102, 102, 0.53); */
    
}

.NewUsersand-watch{
    font-size: 18px;
    gap: 1%;
}

.NewUserchallenge-1-text{
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
}

.NewUserchallenge-2{
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid; */
}

.NewUserprogress{
    width: 100%;
    border: 1px solid #FF8900;
    border-radius: 10px;
}

.NewUservisit{
    width: 90%;
}

/* .NewUserDays10{
    height: 60px;
    
} */

.NewUser10{
    color: #FF8F00;
    font-size: 24px;
    
}

.NewUserbig-challenge{
    border-right: none;
}

.NewUser-challenge-is-here{
    font-weight: 500;
    font-size: 24px;
}

.NewUser-Complete-challenges-and-unlock{
    font-weight: 400;
    font-size: 0.8em;
}

