.Overlay-main{
    /* background-color: black; */
    background-color: rgba(0,0,0, 0.9);
    height: 100px;
    font-family: Rubik;
    color: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    gap: 2%;
    
}

.Overlaychallenge-1{
    width: 100%;
    margin: 0 auto;
    /* gap: 10px; */
   
}

.Overlayvisit{
    width: 500px;
}

.Overlaycheck-now{
    font-weight: bolder;
    color: #FF8900;
    /* border: 1px solid blue; */
    text-align: center;
    border-radius: 30px;
    background-color: #FFF2EA;
    width: 80%;
    align-self: center;
}